@import 'colors.css';

*{
    border:none;
    border-radius: 0;

    font-family: "Adwaita Sans","0xProto Nerd Font",sans-serif;
    font-weight: bold;

    min-height: 0;
    padding: 0;
    margin: 0;
    font-size:13px;

}

window#waybar{
    background: transparent;
    box-shadow: none;
    opacity: 1;
}

tooltip{
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}

tooltip label{
    color:@fg;
    padding: 6px;
}

#workspaces{
    background-color: @bg0;
    padding: 5px 3px;
    margin: 0 0 0 5px;
    border-radius: 18px;
    border: 1px solid @blue;
    font-size: 0px;
    color: @fg;
}

#workspaces button{
    /* --------------------------------- */
    /* box-sizing: border-box; */
    padding: 0px 6px;
    min-width: 6px;
    /* max-width: 6px */
    /* padding: 0; */
    margin: 0px 3px;
    font-size:0;
    border-radius: 50px;
    color: transparent;
    background-color: @bg1;
    transition: all 0.2s ease-in-out;
    
    /* box-shadow: 0 12px 30px 0 rgba(0,0,0,0.25); */
}

#workspaces button.active{

    /* --------------------------------- */
    /* min-width: 50px;    */
    /* max-width: 50px; */
    /* min-height: 16px; */
    /* max-height: 16px; */
    

    background-color: @blue;
    color:@bg0;
    min-width: 50px;
    transition: all 0.2s ease-in-out;
    font-size:0;
}

#workspaces button:hover{
    background-color: @purple;
    color:@bg0;
    border-radius:16px;
    min-width:50px;
    background-size:400% 400%;
    /* font-size: 0px; */
}

#workspaces button.urgent{
    background-color: @red;
    color:@bg0;
    /* font-size: 0px; */
    border-radius:16px;
    min-width:50px;
    background-size:400% 400%;
    transition: all 0.3s ease-in-out;
}


#custom-notification{
    background-color: @bg0;
    padding: 0 15px;
    margin: 0 5px;
    border-radius:16px;
    border: 1px solid @blue;
    color:@blue;
}

#clock{
    background-color: @bg0;
    color:@blue;
    margin: 0px 5px;
    padding: 0px 10px;
    border-radius:16px;
    border: 1px solid @blue;
}


#memory{
    background-color: @bg0;
    border-radius:16px;
    padding: 0 10px;
    margin: 0 5px;
    color:@blue;
    border: 1px solid @blue;
}

#cpu{
    background-color: @bg0;
    border-radius:16px;
    padding: 0 10px;
    margin: 0 5px;
    color:@blue;
    border: 1px solid @blue;
}

#battery{
    background-color: @bg0;
    border-radius:16px;
    padding: 0 10px;
    margin: 0 5px;
    color:@blue;
    border: 1px solid @blue;
}
