@import 'colors.css';

*{
    border:none;
    border-radius: 0;

    font-family: "Adwaita Sans","0xProto Nerd Font",sans-serif;
    font-weight: bold;

    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar{
    background: transparent;
}

tooltip{
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}

tooltip label{
    color:@fg;
    padding: 6px;
}

#workspaces{
    background-color: @bg0;
    padding: 5px 3px;
    margin: 0 0 0 5px;
    border-radius: 18px;
    border: 1px solid @blue;
    color: @fg;
}

#workspaces button{
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: transparent;
    background-color: @bg1;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active{
    background-color: @blue;
    color:@bg0;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
    font-size:13px;
}

#workspaces button:hover{
    background-color: @purple;
    color:@bg0;
    border-radius:16px;
    min-width:50px;
    background-size:400% 400%;
}

#workspaces button.urgent{
    background-color: @red;
    color:@bg0;
    border-radius:16px;
    min-width:50px;
    background-size:400% 400%;
    transition: all 0.3s ease-in-out;
}


#custom-notification{
    background-color: @bg0;
    padding: 0 15px 0 15px;
    margin: 0 5px 0 12px;
    border-radius:45px;
    border: 2px solid @blue;
    color:@blue;
}

#clock{
    background-color: @bg0;
    color:@blue;
    margin: 0px 5px;
    padding: 0px 4px;
    border-radius:16px;
    border: 1px solid @blue;
}


#memory{
    background-color: @bg0;
    border-radius:16px;
    padding: 0 10px;
    margin: 0 5px;
    color:@blue;
    border: 1px solid @blue;
}

#cpu{
    background-color: @bg0;
    border-radius:16px;
    padding: 0 10px;
    margin: 0 5px;
    color:@blue;
    border: 1px solid @blue;
}

#battery{
    background-color: @bg0;
    border-radius:16px;
    padding: 0 10px;
    margin: 0 5px;
    color:@blue;
    border: 1px solid @blue;
}
